#fibrosisq {
    background-size: auto 100%;
    background-position-x: center;
    background-image: url("img/fq.png");
}
#covid {
    background-size: auto 100%;
    background-position-x: center;
    background-image: url("img/corona.jpg");
}
#bronquitis {
    background-size: auto 100%;
    background-position-x: center;
    background-image: url("img/Bronquitis.jpg");
}
#bronco {
    background-size: auto 100%;
    background-position-x: center;
    background-image: url("img/bronco.jpeg");
}
#gripea {
    background-size: auto 100%;
    background-position-x: left;
    background-image: url("img/gripea.jfif");
}
#farin {
    background-size: auto 100%;
    background-position-x: center;
    background-image: url("img/farin.jpg");
}
#asma {
    background-size: auto 100%;
    background-position-x: center;
    background-image: url("img/asma.png");
}
#amigdalitis {
    background-size: auto 100%;
    background-position-x: center;
    background-image: url("img/amigdalitis.jpg");
}
#efisema {
    background-size: auto 100%;
    background-position-x: center;
    background-image: url("img/efisema\ pulmonar.jpg");
}
#relatedA {
}
#relatedB {
}
#relatedC {
}
#related1 {
    background-size: auto 100%;
    background-position-x: center;
    background-image: url("img/fq.png");
}
#related2 {
    background-size: auto 100%;
    background-position-x: center;
    background-image: url("img/corona.jpg");
}
#related3 {
    background-size: auto 100%;
    background-position-x: center;
    background-image: url("img/corona.jpg");
}
#related4 {
    background-size: auto 100%;
    background-position-x: center;
    background-image: url("img/fq.png");
}
#related5 {
    background-size: auto 100%;
    background-position-x: center;
    background-image: url("img/corona.jpg");
}
#related6 {
    background-size: auto 100%;
    background-position-x: center;
    background-image: url("img/corona.jpg");
}
#related7 {
    background-size: auto 100%;
    background-position-x: center;
    background-image: url("img/asma.png");
}
#related8 {
    background-size: auto 100%;
    background-position-x: center;
    background-image: url("img/corona.jpg");
}
#related9 {
    background-size: auto 100%;
    background-position-x: center;
    background-image: url("img/corona.jpg");
}
#related10 {
    background-size: auto 100%;
    background-position-x: center;
    background-image: url("img/fq.png");
}
#related11 {
    background-size: auto 100%;
    background-position-x: center;
    background-image: url("img/corona.jpg");
}
#related12 {
    background-size: auto 100%;
    background-position-x: center;
    background-image: url("img/corona.jpg");
}
#related13 {
    background-size: auto 100%;
    background-position-x: center;
    background-image: url("img/efisema\ pulmonar.jpg");
}
#related14 {
    background-size: auto 100%;
    background-position-x: center;
    background-image: url("img/corona.jpg");
}
#related15 {
    background-size: auto 100%;
    background-position-x: center;
    background-image: url("img/corona.jpg");
}
#related16 {
    background-size: auto 100%;
    background-position-x: center;
    background-image: url("img/fq.png");
}
#related17 {
    background-size: auto 100%;
    background-position-x: center;
    background-image: url("img/fq.jpg");
}
#related18 {
    background-size: auto 100%;
    background-position-x: center;
    background-image: url("img/corona.jpg");
}
#related19 {
    background-size: auto 100%;
    background-position-x: center;
    background-image: url("img/fq.png");
}
#related20 {
    background-size: auto 100%;
    background-position-x: center;
    background-image: url("img/corona.jpg");
}
#related21 {
    background-size: auto 100%;
    background-position-x: center;
    background-image: url("img/corona.jpg");
}
#related22 {
    background-size: auto 100%;
    background-position-x: center;
    background-image: url("img/fq.png");
}
#related23 {
    background-size: auto 100%;
    background-position-x: center;
    background-image: url("img/corona.jpg");
}
#related24 {
    background-size: auto 100%;
    background-position-x: center;
    background-image: url("img/corona.jpg");
}